function source_file {
	if [ -f "$1" ]; then
		source $1
	fi
}

source_file /usr/share/zsh/share/antigen.zsh
source_file /usr/share/zsh-antigen/antigen.zsh

# Load the oh-my-zsh's library.
antigen use oh-my-zsh

# Bundles from the default repo (robbyrussell's oh-my-zsh).
#antigen bundle git
#antigen bundle svn
#antigen bundle heroku
#antigen bundle pip
#antigen bundle lein
#antigen bundle command-not-found

# Syntax highlighting bundle.
antigen bundle zsh-users/zsh-syntax-highlighting

# Load the theme.
#antigen theme robbyrussell
#antigen theme https://github.com/qwelyt/endless-dog

antigen bundle fzf
antigen bundle zsh-users/zsh-autosuggestions
#antigen bundle Aloxaf/fzf-tab

# Tell Antigen that you're done.
antigen apply
