alias emerge='emerge --ask'
alias sudo='sudo '
alias ls='lsd'
export PATH=$PATH:~/bin:/home/kevin/Dokumente/Projekte/esp32/crosstool-NG/builds/xtensa-esp32-elf/bin:~/.local/bin:~/.cargo/bin
#source /etc/X11/xinit/xinitrc.d/52load-gtk-vector-screenshot-gtk-module
#source /usr/share/terminix/scripts/terminix_int.sh
export EDITOR=nvim
export RADV_PERFTEST=gpl

#source ~/.zsh/zsh-autosuggestions/zsh-autosuggestions.zsh
#export TERM="xterm-256color"
#export ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE="fg=252,bold"

# Switch dev
export DEVKITPRO=/var/chroot/archlinux/opt/devkitpro
export DEVKITARM=${DEVKITPRO}/devkitARM

# ESP32 dev
export IDF_PATH=/home/kevin/Dokumente/Projekte/esp32/esp-idf

#ekos data for ccd sim
export GSCDAT=/usr/local/share/GSC
### for i3

#if [ "$0" = "/usr/sbin/lightdm-session" -a "$DESKTOP_SESSION" = "i3" ]; then
#    export $(gnome-keyring-daemon -s)
#fi
#echo $0 >> /tmp/zsh.log
function _dotgit
{
	COMPREPLY=()

	local -a opts=()

	local use_opts=0

	[[ $COMP_CWORD -eq 1 ]] && use_opts=1
	[[ $COMP_CWORD -eq 2 ]] && [[ ${COMP_WORDS[1]} == verbose ]] && \
		use_opts=1

	if [[ $use_opts -eq 1 ]]; then
		opts+=("help")
		opts+=("init")
		opts+=("update")
		opts+=("restore")
		opts+=("clean")
		opts+=("hard-update")
		opts+=("hard-restore")
		opts+=("hard-clean")
		opts+=("encrypt")
		opts+=("decrypt")
		opts+=("passwd")
		opts+=("diff")
		opts+=("generate")

		[[ $COMP_CWORD -eq 1 ]] && opts+=("verbose")
	else
		local -a ls_dir=()
		[ -d "dotfiles" ] && ls_dir+=("dotfiles")
		[ -d "dmz" ] && ls_dir+=("dmz")

		for i in "${ls_dir[@]}"; do
			for f in $i/*; do
				[ -d "$f" ] && opts+=("${f#$i/}")
			done
			unset f
		done
		unset i

		local -a fl=()
		[ -f "filelist" ] && fl+=("filelist")
		[ -f "cryptlist" ] && fl+=("cryptlist")

		for i in "${fl[@]}"; do
			while read -r line; do
				! [[ $line =~ \= ]] && continue;
				opts+=(${line%%\=*})
			done < "$i"
		done
		opts+=("common")
		opts+=("$HOSTNAME")

		opts=($(IFS=$'\n'; sort -u <<<"${opts[*]}"))
	fi

	COMPREPLY=($(IFS=$' '; compgen -W "${opts[*]}" "${COMP_WORDS[COMP_CWORD]}"))
}

HISTSIZE=10000000
SAVEHIST=10000000

# for docker buildx
export DOCKER_BUILD_KIT=1
export DOCKER_CLI_EXPERIMENTAL=enabled

source /usr/share/fzf/key-bindings.zsh
source /usr/share/fzf/completion.zsh


export ESPHOME_DASHBOARD_USE_PING=true
# reflink cp
#cp() {
#  command cp --reflink=auto "$@"
#}

alias dmesgj='journalctl --dmesg -o short-monotonic --no-hostname --no-pager'
alias sway="sway > /tmp/sway.log 2>&1"

chezmoi-cd() {
    cd $(chezmoi source-path)
}

{{ if (eq .pc_type "desktop" "laptop") }}

export MOZ_ENABLE_WAYLAND=1

export WLR_DRM_NO_ATOMIC=1
export WLR_NO_HARDWARE_CURSORS=1
#export QT_QPA_PLATFORM=wayland
# fix java stuff in wayland
export _JAVA_AWT_WM_NONREPARENTING=1
export GSETTINGS_SCHEMA_DIR=/usr/share/glib-2.0/schemas
export $(gnome-keyring-daemon -s)

export XDG_CURRENT_DESKTOP=sway
if [[ -z $DISPLAY ]] && [[ $(tty) = /dev/tty1 ]]; then
	sway
fi

{{end}}

# Auto chezmoi config
# "vi FILE_NAME" automatically runs "chemoi edit FILE_NAME" command if the file is under management by chemoi.
# otherwise just give the all arguments to neovim
function nvim() {
  if [ $# -eq 0 ]; then
    command nvim
    return
  fi

  # Added "--hardlink=false" option to get neovim undo available.
  chezmoi verify $1 > /dev/null 2>&1\
    && chezmoi edit --watch --hardlink=false $1 || command nvim $@
}


# Allow autocomplete for aliases
setopt complete_aliases
