name: Build
on:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Most important Action!
      uses: wimpysworld/nothing-but-nix@687c797a730352432950c707ab493fcc951818d7
      with:
        hatchet-protocol: 'rampage' # Why would I never need something else?!
    - uses: cachix/install-nix-action@v31
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}
    - name: Check flake
      run: nix flake check
    - run: |
        # Running this in multiple jobs does not save time
        configs=("kevin-nix" "kevin-laptop" "kokev")
        hm_configs=("kevin@kevin-nix" "kko@liag0005")
        for config in "${configs[@]}"; do
          echo "Building NixOS for ${config}"
          nix run nixpkgs#nixos-rebuild -- --flake .#${config} build
        done
        for config in "${hm_configs[@]}"; do
          echo "Building HomeManager for ${config}"
          nix run nixpkgs#home-manager -- --flake .#${config} build
        done
