name: Build
on:
  push:
jobs:
  build:
    strategy:
      matrix:
        platform:
          - runs-on: ubuntu-24.04
            hosts:
              - kevin-nix
              - kevin-laptop
              - kokev
            hm:
              - kevin@kevin-nix
              - kko@liag0005
          - runs-on: ubuntu-24.04-arm
            hosts:
              - rpi-drucker
            hm:
              - root@rpi-drucker
    runs-on: ${{ matrix.platform.runs-on }}
    steps:
    - uses: actions/checkout@v5
    - uses: cachix/install-nix-action@v31
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}
    - name: debloat
      run: |
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf "$AGENT_TOOLSDIRECTORY"
        sudo rm -rf /opt/microsoft
        sudo rm -rf /usr/lib/llvm-*
        sudo rm -rf /usr/local/julia*
        sudo rm -rf /usr/local/share/chromium
        sudo rm -rf /usr/local/share/powershell
        sudo rm -rf /usr/share/swift
        sudo rm -rf /opt/ghc \
          /opt/google/chrome \
          /opt/pipx \
          /usr/lib/mono \
          /usr/local/lib/android \
          /usr/local/lib/node_modules
        sudo df -TBG /
    # There has to be a better way with github?
    - run: |
        # Running this in multiple jobs does not save time
        configs=( ${{ join(matrix.platform.hosts, ' ') }} )
        hm_configs=( ${{ join(matrix.platform.hm, ' ') }} )
        for config in "${configs[@]}"; do
          echo "Building NixOS for ${config}"
          nix --accept-flake-config run nixpkgs#nixos-rebuild -- --accept-flake-config --flake .#${config} build
        done
        for config in "${hm_configs[@]}"; do
          echo "Building HomeManager for ${config}"
          nix run nixpkgs#home-manager -- --flake .#${config} build
        done
